* {
    font-family: 'ZCOOL QingKe HuangYou', cursive;
}

body {
    background-size: cover;
    background-attachment: fixed;
    background-position: center center;
}

input {
    color: white;
}
li {
    font-size: 20px;
}

.btn-small {
    margin-left: 20px;
    background-color: green;
    font-family: 'ZCOOL QingKe HuangYou', cursive;
    font-size: 25px;
}

.btn-small:hover {
    background-color: black;
}

.welcome-area {
    font-size: 60px;
    color: white;
}

#controls {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
}
.description-container {
    color: white;
    justify-content: left;

}